body{
    font-family: "Times New Roman", serif;
    font-size: 18px;
    color: rosybrown;
    min-height: 100vh;
    background: linear-gradient(
        to bottom,
        #ffffff 0%,
        #f4e6ec 30%,
        #c07a8e 65%,
        #732c3f 100%
    );
}
.div{
    width:95%;
    margin:auto;
    height:150px;
    font-size:50px;
    background:transparent;
    border:2px solid rosybrown;
    border-radius:5px;
    margin-top:2px;
}
p{
    text-align:center;
    margin-top:50px;
    background:linear-gradient(
        90deg,
        #ff0080,
        #7928ca,
        #2afadf
        );
        -webkit-background-clip:text;
        -webkit-text-fill-color:transparent;
        filter:drop-shadow(0 0 6px rgba(255,0,150,0.6));
        background-attachment: fixed;
}
.input-box {
    position: relative;
    margin: 25px 0;
}
.input-box input {
    width: 80%;
    padding: 14px 12px;
    font-size: 18px;
    background: transparent;
    border: 2px solid rosybrown;
    border-radius: 6px;
    outline: none;
}
.input-box label {
    position: absolute;
    top: 50%;
    left: 14px;
    color: rosybrown;
    background: #f4e6ec;  
    padding: 0 6px;
    transform: translateY(-50%);
    transition: 0.3s ease;
    pointer-events: none;
}
.input-box input:focus + label,
.input-box input:valid + label {
    top: -8px;
    font-size: 13px;
}
.heart{
    color:#FF69B4;
}
button{
    padding:5px;
    font-size:20px;
    background:#f4e6ec;
    border:5px solid rosybrown;
    border-radius:10px;
}
legend{
    font-size:34px;
}
fieldset{
    border:3px solid rosybrown;
    border-radius:10px;
}
